@charset "UTF-8";
/*----------------------------
공통
----------------------------  */
/* #main{
	width:1024px;
	margin:0 auto;
} */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:  'NEXON Lv1 Gothic OTF';
}

.text-align-center{
	text-align: center;
	margin-top: 10px;
    margin-bottom: 10px;
}
.bothclear{
	clear: both;
}

ul li{
	list-style: none;
}

/*----------------------------
talkList
----------------------------  */
.talklist-head {
    width: 100%;
    height: 24px;
    /* border-bottom: 2px solid black; */
    background-color: #aaaee6;
    color: white;
    overflow: hidden;
    font-size: 15px;
}
.page-top-line{
	width: 100%;
	height: 40px;
	background-color: #969CE4;
	color: white;
	font-size: 23px;
	margin-bottom: 30px;
}
.page-main-talk{
	margin: 0 auto;
	/* border: 1px solid black; 임시	 */
}
.talk{
   border:3px solid lightgray;
   width: auto;
   height: 600px;
   background-color: white;
   border-radius: 4px;
   box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
   margin: 0;
}
/* .talk{
	border:3px solid lightgray;
	width: 500px;
	height: 600px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px gray;
	float: left;
} */
.talk-right{
	border: 1px solid black;/* 임시 */
	width: 664px;
	height: 600px;
	float: left;
}
.cursor-pointer{
	cursor: pointer;
}
form{
	padding: 0px;
}
form#search_form {
    border: none;
}
.search-bar {
    width: 220px;
    border-radius: 10px;
    padding-left: 12px;
}
.search {
    text-align: center;
    margin-bottom: 5px;
    width: 330px;
    margin: 0 auto;
/*     border: 1px solid black; */
	margin-top: 11px;
}
.talklist-list{
	/* border:1px solid black; *//* 임시 */
	height: 455px;
    margin-top: 15px;
	overflow: auto;
	padding-right: 5px;
	border-bottom: 5px solid #7a81d6;
}
.talklist-box {
    /* border: 1px solid black; */
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    padding: 15px;
}
.talklist-box:hover{
	background-color: #ebf7ff;
}
.box-left{
	width: 340px;
	overflow: hidden;
	float: left;
	margin-left: 5px;
}
.box-right{
	width: 90px;
	float: right;
	text-align: right;
	margin-right: 19px;
}
.box-right-date{
	color: gray;
}
.make-talk{
	width:150px;
	margin: 0 auto;
}
.make-talk input[type="button"] {
	width:200px;
	height:50px;
	
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.talklist-mypage-btn {
    text-align: center;
    height: 69px;
    background-color: aliceblue;
}
input.search-btn {
    width: 30px;
    height: 22px;
    border: none;
    border-radius: 100px;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
.search-btn:hover{
	transform:scale(1.1);
}
.bottom-btn {
    width: 200px;
    height: 50px;
    background-color: #969ce4;
    border: none;
    border-radius: 7px;
    color: white;
    /* margin: 0 12px 0 12px; */
    /* margin: 0 auto; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 20px;
}
.bottom-btn:hover{
	transform:scale(1.1);
}
/*----------------------------
talkDetail
----------------------------  */
.chat-name{
	/* border: 1px solid black; */ /* 임시 */
	height: 35px;
/* 	overflow: auto; */
}
.chat-name-left{
	/* border: 1px solid black; */ /* 임시 */
	float:left;
	width: 13%;
	margin-left:10px; 
	font-weight: bolder;
	color: gray;
}
.chat-name-right{
	/* border: 1px solid black; */ /* 임시 */
	/* float:left; */
	margin:0 auto;
	width: 80%;
	height: 28px;
	font-size: 23px;
	overflow: hidden;
	word-wrap:break-word;
	text-align: center;
}

.chat-members-left {
    /* border: 1px solid black; */
    float: left;
    width: 19%;
    text-align: left;
    font-weight: bolder;
    color: gray;
    margin-left: 5px;
}
.chat-members {
    /* margin-left: 10px; */
    /* border: 1px solid black; */
    float: left;
    width: 58%;
    height: 24px;
    line-height:23px;
    overflow: auto;
    font-weight: bolder;
    color: dimgray;
}
.chat-exit{
	/* border: 1px solid black; */ /* 임시 */
	float: right;
	width: 20%;
	text-align: center;
	padding-right: 8px;
	margin-bottom: 9px;
	color: #7981e8;
	font-size: 10px;
	font-weight: bolder;
	cursor: pointer;
}
.chat-exit:hover{
	color: #5c66ff;
	font-weight: bolder;
	text-decoration: underline;
	/* transform:scale(1.1); */
}
.chatdate-right{
	text-align: right;
	font-size: 12px;	
	color:white;
}
.chatting_message_bottom {
    height: 40px;
    width: 500px;
    /* text-align: center; */
    resize: none;
    margin-top: 3px;
    margin-left: 3px;
    border: none;
    border-right: 3px solid lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 70px;
    /* margin: 0 auto; */
}
.chatting_message_bottom:focus{
	outline: none;
}
.chatform-bottom {
    padding: 0px;
    margin: 0px;
    height: 69px;
    width: 661px;
    text-align: center;
    background-color: aliceblue;
}
.chatform-bottom li{
	display: inline-block;
}
.chat-submit-btn{
	width: 50px;
    height: 24px;
    background-color: #7a81d6;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
.chat-submit-btn:hover{
	transform:scale(1.1);
}
.chatread-count{
	color:yellow;
	font-weight: bolder;
}
.chat-submit-btn-box{
	/* height: 80px; */
}
/*----------------------------
스크롤바
----------------------------  */
#talk_member::-webkit-scrollbar {
    width: 10px;
}

#talk_member::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/*----------  */
#search_area::-webkit-scrollbar {
    width: 10px;
}

#search_area::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/*----------  */
.chat-name-right::-webkit-scrollbar {
    width: 10px;
}

.chat-name-right::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/*----------  */
#chatting_message::-webkit-scrollbar {
    width: 10px;
}

#chatting_message::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/*----------  */
.chatting_message_bottom::-webkit-scrollbar {
    width: 10px;
}

.chatting_message_bottom::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/* ----------- */
.talklist-list::-webkit-scrollbar {
    width: 10px;
}

.talklist-list::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/* ----------- */
.chat-members::-webkit-scrollbar {
    width: 10px;
}

.chat-members::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}
/*////////////////////////////////////////////////////*/
#chatting_message{
	border-bottom: 5px solid #7a81d6;
	height:450px;
	margin:0 auto;
	padding:10px;
	overflow:auto;
}
.date-position{
	text-align:center;
}
.date-position span {
    display: inline-block;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: #595a63;
    color: white;
    font-size: 13px;
}
.from-position{
	width:280px;
	margin:10px 0 10px 350px;
}
.from-position .item {
    background-color: #acb1e8;
    padding: 10px;
    min-height: 32px;
    border-radius: 20px;
    border-top-right-radius: 0;
    word-wrap: break-word;
    color: whit;
}
.to-position{
	width:330px;
	margin:10px 0 10px 0;
}
.to-position .item{
	background-color:#e5eaef;
	padding:10px;
	min-height:32px;
	border-radius:20px;
	border-top-left-radius:0;
	word-wrap: break-word;
}
.to-position div.space-photo{
	float:left;
	width:15%;
}
.to-position div.space-message{
	float:left;
	width:85%;
}
.to-position div.space-clear{
	clear:both;
}
.exit-message{
	width:230px;
	height:30px;
	border-radius:10px;
	background-color:#eee;
	margin:10px auto;
	text-align:center;
	padding-top:8px;
	clear:both;
}

form#detail_form{
	width:500px;
}





/*----------------------------
talkRoomWrite
----------------------------  */
.talk-make-body{
	/* border: 1px solid black; *//* 임시 */
	width: 500px;
	margin: 0 auto;
}
.make-nameNmem{
	height: 400px;
}
.make-btn-box{
	/* border: 1px solid black; *//* 임시 */
}
.inputform{
	width: 325px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
    border: 3px solid #969ce4;
    border-radius: 10px;
}
.inputform-a{
	width: 330px;
	height: 40px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 10px;
}
.inputform-b{
	width: 330px;
	height: 40px;
	margin: 0 auto;
	margin-top: 18px;
	margin-bottom: 10px;
}
.chatauto{
	margin-left: 90px;
}
#search_area{
	border: 3px solid #969ce4;
	border-radius:10px;
	height: 100px;
	width: 345px;
	margin-left: 84px;
	overflow: auto;
}
#talk_member {
    border: 3px solid #ff9cc5;
	border-radius:10px;
    height: 90px;
    overflow: auto;
    width: 335px;
    margin-left: 84px;
    margin-top: 3px;
    padding-left: 8px;
    word-wrap: break-word;
}
.memlist{
	border-bottom: 1px solid black;
	padding-left: 8px;
}
.bottom-btn-2{
	width: 354px;
	height: 50px;
	background-color: #969ce4;
	border: none;
	border-radius:7px;
	color:white;
	cursor: pointer;
	font-size: 20px;
	margin-left: 81px;
}
.bottom-btn-2:hover{
	transform:scale(1.1);
}
.auto-word{
	font-weight: 700;
	color: dimgray;
}
.member-word{
	margin-left: 90px;
	font-weight: bolder;
	margin-top: 14px;
}
.member-span{
	cursor: pointer;
}
.cursorpointer1{
	cursor: pointer;
}
.talk-title2{
	font-size: 30px;
	font-weight:800;
	color: lightgray;
	cursor:pointer;
}