@charset "UTF-8";
@font-face{
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family:'NEXON Lv1 Gothic OTF';
	margin:0px;
}
.mypage-main{
	width:1024px;
	margin:0 auto;
}
input, textarea, select, button, #upload{
	font-family:'NEXON Lv1 Gothic OTF';
	outline:none;
}
input[type="button"]{
	font-family:'NEXON Lv1 Gothic OTF';
	cursor:pointer;
}
input[type="button"]:hover{
   background-color:#9481a1;
}
input[id="photo_btn"]{
	background-color:#8e959e;
    color:white;
    width:43px;
    height:25px;
    border:none;
    border-radius:3px;
    margin-left:24px;
    margin-top:5px;
}
input[type="file"]{
	font-family:'NEXON Lv1 Gothic OTF';
	width:200px;
	margin-left:10px;
}
input[type=file]::file-selector-button{
	font-family:'NEXON Lv1 Gothic OTF';
	background-color:#8e959e;
	margin-bottom:7px;
	height:30px;
	border:none;
	color: white;
	border-radius:3px;
}
input[type=file]::file-selector-button:hover{
   	background-color:#9481a1;
   	transition: 0.2s;
}
input[id="photo_submit"]{
	background-color:#a5a6e9;
    color:white;
    width:43px;
    height:25px;
    border:none;
    border-radius:3px;
    margin-top:5px;
}
input[id="photo_reset"]{
	background-color:#8e959e;
    color:white;
    width:43px;
    height:25px;
    border:none;
    border-radius:3px;
    margin-top:5px;
}
button[value="Submit"]{
	background-color:#a5a6e9;
    color:white;
    width:74px;
    height:30px;
    border:none;
    border-radius:3px;
    margin-top:5px;
    padding:0px;
}
input[value="우편번호찾기"]{
	background-color:#8e959e;
    color:white;
    width:85px;
    height:25px;
    border:none;
    border-radius:3px;
    margin-top:5px;
    padding:0px;
}
input[value="My페이지"]{
	background-color:#8e959e;
    color:white;
    width:74px;
    height:30px;
    border:none;
    border-radius:3px;
    margin-top:5px;
    padding:0px;
}
input[value="회원탈퇴"]{
	background-color:#8e959e;
    color:white;
    width:74px;
    height:30px;
    border:none;
    border-radius:3px;
    margin-top:5px;
    padding:0px;
}
input[id="바로가기"]{
	background-color:#8e959e;
    color:white;
    width:120px;
    height:25px;
    border:none;
    border-radius:3px;
    padding-top:2px;
	margin-bottom:2px;
	margin-left:7px;
	margin-top:0px;
}
input[id="study_modify"]{
    background-color:#8e959e;
    color:white;
    width:40px;
    height:23px;
    border:none;
    border-radius:3px;
    cursor:pointer;
    margin-left:7px;
    margin-top:-1px;
}
button[id="submit_study"]{
	margin-top:14px;
	background-color:#a5a6e9;
    color:white;
    width:45px;
    height:25px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
input[id="cancel"]{
	margin-top:14px;
	background-color:#8e959e;
    color:white;
    width:45px;
    height:25px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
input[value="MY페이지"]{
	background-color:#8e959e;
    color:white;
    width:74px;
    height:30px;
    border:none;
    border-radius:3px;
    margin-top:5px;
    padding:0px;
}
button {
    background-color:#a5a6e9;
    color:white;
    width:50px;
    height:30px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
button:hover{
   background-color:#9481a1;
   cursor:pointer;
   color:white;
}
/* 마이페이지 메인 - memberView */

.mypage-main > h2[id="0"]{
	text-align:center;
	margin:50px 60px 0px 60px;
	padding:10px 0px 15px 0px;
	/* background-color:#969ce4; */
	/* border-bottom:1px solid rgb(200,200,200); */
	/* color:white; */
}
.mypage-left{
	float:left;
	margin-top:40px;
	margin-left:65px;
}
.mypage-right{
	float:right;
	margin-top:40px;
	margin-right:65px;
}
.mypage-bottom{
	float:left;
	margin-top:100px;
	margin-left:60px;
}
.mypage-box{
	box-sizing:border-box;
	background-color:rgba(225, 225, 225, 0.76);
	border-radius:8px;
	padding:20px 25px 20px 25px;
	display:flex;
	align-items: center;
	height:200px;
}
.mypage-box2{
	box-sizing:border-box;
	background-color:rgba(225, 225, 225, 0.76);
	border-radius:8px;
	padding:20px 25px 20px 25px;
	display:flex;
	height:200px;
}
.mypage-ul{
	padding:0px 20px 0px 15px;
	list-style:disc inside;
	line-height:180%;
	width:450px;
}
.mypage-ul-l{
	text-align:center;
	padding:0px 35px 0px 0px;
	margin:5px 0px 5px 15px;
	float:left;
	border-right:1px solid rgb(200,200,200);
}
.mypage-ul-r{
	text-align:center;
	padding:0px;
	margin:0px 15px 0px 35px;
	float:right;
}
.mypage-ul-b{
	display:flex;
	flex-wrap:wrap;
	width:908px;
	padding:0px;
	margin-bottom:100px;
}
.mypage-ul-l > li[id='click']{
	cursor:pointer;
	margin-top:5px;
}
input[value='로그아웃']{
	padding:5px 18px 4px 18px;
	border:none 10px;
	background-color:white;
	border-radius:3px;
	cursor:pointer;
	font-size:10px;
	color:#7f7f7f;
	margin-top:7px;
	font-family:'NEXON Lv1 Gothic OTF';
}
input[value='+']{
	padding:0px 16px 0px 16px;
	border:none 10px;
	background-color:white;
	cursor:pointer;
	font-size:24px;
	color:#7f7f7f;
	font-family:'NEXON Lv1 Gothic OTF';
	margin-top:0px;
	/* margin-right:3px; */
	float:right;
}
.mypage-ul-r > li[id='score']{
	font-size:30px;
	margin-top:15px;
}
.hr{
	border:0.5px solid rgb(200,200,200);
}
button[value='내가 가입한 스터디 그룹']{
	padding:0px 0px 0px 0px;
	border:none 10px;
	background-color:rgba(243, 213, 99, 0.69);
	border-radius:25px;
	cursor:pointer;
	font-size:17px;
	color:rgb(195, 124, 14);
	font-family:'NEXON Lv1 Gothic OTF';
	width:440px;
	height:110px;
	display:flex;
	align-items:center;
	padding:0px 0px 0px 25px;
	margin:10px 10px 10px 5px;
}
button[value='내가 좋아요한 스터디 그룹']{
	padding:0px 0px 0px 0px;
	border:none 10px;
	background-color:rgba(230, 137, 126, 0.57);
	border-radius:25px;
	cursor:pointer;
	font-size:17px;
	color:rgb(175, 51, 38);
	font-family:'NEXON Lv1 Gothic OTF';
	width:440px;
	height:110px;
	display:flex;
	align-items:center;
	padding:0px 0px 0px 25px;
	margin:10px 5px 10px 5px;
}
button[value='내가 신청한 스터디 그룹']{
	padding:0px 0px 0px 0px;
	border:none 10px;
	background-color:rgba(94, 198, 138, 0.64);
	border-radius:25px;
	cursor:pointer;
	font-size:17px;
	color:rgb(22, 119, 62);
	font-family:'NEXON Lv1 Gothic OTF';
	width:440px;
	height:110px;
	display:flex;
	align-items:center;
	padding:0px 0px 0px 25px;
	margin:5px 10px 10px 5px;
}
button[value='내가 만든 스터디 그룹']{
	padding:0px 0px 0px 0px;
	border:none 10px;
	background-color:rgba(75, 160, 216, 0.57);
	border-radius:25px;
	cursor:pointer;
	font-size:17px;
	color:rgb(22, 89, 133);
	font-family:'NEXON Lv1 Gothic OTF';
	width:440px;
	height:110px;
	display:flex;
	align-items:center;
	padding:0px 0px 0px 25px;
	margin:5px 5px 10px 5px;
}





/* 마이페이지 회원정보 수정 */
.mypage-main > h3[id="0"]{
	text-align:center;
	margin:50px 60px 0px 60px;
	padding:10px 0px 15px 0px;
	/* background-color:#969ce4; */
	/* border-bottom:1px solid rgb(200,200,200); */
	/* color:white; */
}
.mypage-main > h2[id="1"]{
	/* text-align:center; */
	margin:50px 60px 0px 60px;
	padding:10px 0px 15px 0px;
	/* background-color:#969ce4; */
	border-bottom:1px solid rgb(200,200,200);
	/* color:white; */
}
.mypage-main > form{
	margin:0 auto;
	padding:40px 0px 80px 0px;
	border:none;
}
#modify_form{
	width:800px;
}
table {
    width: 100%;
    border-top: 1px solid rgb(200,200,200);
    border-collapse: collapse;
    margin-bottom:30px;
}
td{
    border-bottom: 1px solid rgb(200,200,200);
    border-right: 1px solid rgb(200,200,200);
    padding: 20px;
}
td:first-child {
    border-left: 1px solid rgb(200,200,200);
    /* background-color:rgb(245,245,245); */
    width:230px;
    font-weight:bold;
    font-size:15px;
}
#modify_form > td:first-child{
	border-left: 1px solid rgb(200,200,200);
    border-right:none;
    /* background-color:rgb(245,245,245); */
    width:230px;
    font-weight:bold;
    font-size:15px;
}
td > input[type="text"]{
	width:310px;
	padding:10px;
	border:1px solid rgb(200,200,200);
	font-family:'NEXON Lv1 Gothic OTF';
}
td > input[id="mem_zipcode"]{
	width:220px;
	padding:5px;
	border:1px solid rgb(200,200,200);
}
td > input[class="cg-pw"]{
	width:100px;
	padding:5px;
	border:1px solid rgb(200,200,200);
	cursor:pointer;
}
td > input[type="password"]{
	width:170px;
	padding:5px;
	border:1px solid rgb(200,200,200);
	font-family:'NEXON Lv1 Gothic OTF';
}
td > input[id="mem_id"]{
	width:170px;
	padding:5px;
	border:1px solid rgb(200,200,200);
	font-family:'NEXON Lv1 Gothic OTF';
}





/* 마이페이지 내 스터디 그룹  */
.mypage-box-study{
	box-sizing:border-box;
	background-color:rgba(224, 224, 224, 0.50);
	padding:30px 60px 30px 60px;
	width:900px;
	margin:50px auto;
}
.study_div{
	display:flex;
	/* margin-bottom:120px; */
	margin-top:28px;
	align-items:center;
}
.mypage-study-ul-l{
	padding:0px;
	margin:0px 10px 0px 0px;
}
.mypage-study-ul-r{
	padding:0px;
	margin:0px 0px 0px 10px;
	line-height:150%;
}
td[id='tdtd']{
    background-color:rgb(245,245,245);
    width:150px;
    font-weight:bold;
    font-size:16px;
    padding: 40px 20px 40px 20px;
    text-align:center;
}
.member{
	display:flex;
	flex-wrap:wrap;
	border-collapse:collapse;
}
div[id='tdtd']{
    background-color:rgb(245,245,245);
    width:28%;
    font-weight:bold;
    font-size:16px;
    padding: 40px 20px 40px 20px;
    text-align:center;
    border:1px solid rgb(210,210,210);
    border-collapse:collapse;
    margin-left:-1px;
    margin-top:-1px;
}
p[id='score']{
	font-size:28px;
	margin-top:10px;
	margin-bottom:0px;
}
input[value='칭찬']{
	padding:5px 10px 4px 10px;
	border:2px solid #8b8cc9;
	background-color:#a5a6e9;
	border-radius:3px;
	cursor:pointer;
	font-size:12px;
	color:white;
	margin-top:15px;
	font-family:'NEXON Lv1 Gothic OTF';
}
input[value='칭찬']:hover{
	background-color:#8b8cc9;
}
input[value='격려']{
	padding:5px 10px 4px 10px;
	border:2px solid #db7e70;
	background-color:#ff9889;
	border-radius:3px;
	cursor:pointer;
	font-size:12px;
	color:white;
	margin-top:15px;
	font-family:'NEXON Lv1 Gothic OTF';
}
input[value='격려']:hover{
	background-color:#db7e70;
}
.mypage-study-ul-r > li[id='click']{
	font-size:18px;
	padding-bottom:5px;
	display:flex;
}
.align-center > input[id='click']{
	padding:5px 18px 4px 18px;
	background-color:white;
	border-radius:3px;
	border:1px solid rgb(210, 210, 210);
	cursor:pointer;
	font-size:12px;
	color:#7f7f7f;
	margin-top:20px;
	margin-bottom:100px;
	font-family:'NEXON Lv1 Gothic OTF';
}
table[class="study_table"]{
	border:2px solid rgb(180,180,180);
}
th[id="s"]{
	border-bottom:1px solid rgb(200,200,200);
	border-left:1px solid rgb(200,200,200);
	padding:10px;
	background-color:rgb(245,245,245);
}
th[id="s"]:first-child {
    border-left:none;
    background-color:rgb(245,245,245);
    font-weight:bold;
    font-size:15px;
}
td[id="s"]{
    border-bottom:1px solid rgb(200,200,200);
    border-left:1px solid rgb(200,200,200);
    padding:10px;
}
td[id="s"]:first-child {
    border-left: none;
    width:60px;
    font-size:15px;
    text-align:center;
    background-color:rgba(245,245,245,0);
}
td[id="score"]{
    text-align:center;
    width:102px;
    font-size:17px;
    font-weight:bold;
    padding:10px;
}
td[id="sr"]{
    text-align:center;
    border-bottom: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
	padding:10px;
}
td[id="b"]{
    text-align:center;
    border-bottom: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
	padding:5px;
	width:90px;
}
input[value='수락']{
	padding:5px 7px 4px 7px;
	border:2px solid #8b8cc9;
	background-color:#a5a6e9;
	border-radius:3px;
	cursor:pointer;
	font-size:12px;
	color:white;
	margin-top:0px;
	font-family:'NEXON Lv1 Gothic OTF';
}
input[value='수락']:hover{
	background-color:#8b8cc9;
}
input[value='거절']{
	padding:5px 7px 4px 7px;
	border:2px solid #db7e70;
	background-color:#ff9889;
	border-radius:3px;
	cursor:pointer;
	font-size:12px;
	color:white;
	margin-top:0px;
	font-family:'NEXON Lv1 Gothic OTF';
}
input[value='거절']:hover{
	background-color:#db7e70;
}
.mypage-box-study > h3[id="1"]{
	margin-top:110px;
}
.mypage-box-study > form{
	margin:0 auto;
	padding:20px 0px 0px 0px;
	border:none;
}
form > ul[class="mypage-study-ul-l"]{
	float:left;	
}	
form > ul[class="mypage-study-ul-r"]{
	float:left;	
}
.mypage-study-ul-r > li > input[type="text"]{
	width:650px;
	height:15px;
	font-size:17px;
	padding:3px 2px 3px 2px;
	margin-top:0px;
	margin-bottom:5px;
	font-family:'NEXON Lv1 Gothic OTF';
}
.mypage-study-ul-r > li > textarea{
	width:652px;
	height:52px;
	font-size:17px;
	padding:3px 2px 3px 2px;
	margin-top:0px;
	margin-bottom:5px;
	font-family:'NEXON Lv1 Gothic OTF';
}
.align-center{
	margin-top:10px;
}
.none{
	text-align:center;
	margin-top:200px;
	margin-bottom:200px;
	font-size:20px;
}
.hr2{
	border:0.5px solid rgb(200,200,200);
	margin-top:28px;
}
.mypage-study-ul-b{
	padding:0px;
}
td[id="hidden"]{
	display:none;
}
th[id="hidden"]{
	display:none;
}
p[id="nomember"]{
	display:none;
}
label[id="status"]{
	width:50px;
	height:20px;
	font-size:12px;
	background-color:#9481a1;
	border-radius:7px;
	text-align:center;
	margin-top:1px;
	margin-left:5px;
	padding:0px 2px 1px 2px;
}
label[id="status"] > span{
	display:inline-block;
	color:white;
}
label[id="status2"]{
	width:50px;
	height:20px;
	font-size:12px;
	background-color:#a5a6e9;
	border-radius:7px;
	text-align:center;
	margin-top:1px;
	margin-left:5px;
	padding:0px 2px 1px 2px;
}
label[id="status2"] > span{
	display:inline-block;
	color:white;
}
label[id="status3"]{
	width:50px;
	height:20px;
	font-size:12px;
	background-color:#ff9889;
	border-radius:7px;
	text-align:center;
	margin-top:1px;
	margin-left:5px;
	padding:0px 2px 1px 2px;
}
label[id="status3"] > span{
	display:inline-block;
	color:white;
}