<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.stc.dao.StcMapper">  
	<!-- sql 태그와 include 태그를 이용해 SQL문을 재사용 -->
  	<sql id="studySearch">
  		<if test="keyword!=null and keyword!=''">
  			<if test="keyfield == 1">
  				WHERE stc_title LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 2">
  				WHERE stc_content LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 3">
  				WHERE (stc_title LIKE '%' || #{keyword} || '%' OR stc_content LIKE '%' || #{keyword} || '%')
  			</if>
  		</if>
  	</sql>
  	
  	  	<sql id="filterSearch">
  		<if test="keyword!=null and keyword!=''">
  			<if test="keyfield == 1">
  				 AND stc_title LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 2">
  				 AND stc_content LIKE '%' || #{keyword} || '%'
  			</if>
  			<if test="keyfield == 3">
  				 AND (stc_title LIKE '%' || #{keyword} || '%' OR stc_content LIKE '%' || #{keyword} || '%')
  			</if>
  		</if>
  	</sql>
  	
  	<select id="studyCount" parameterType="map" resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM study_create
  		<include refid="studySearch"></include>
  	</select>
  	
  	<select id="studyList" parameterType="map" resultType="studyVO">
  	    SELECT
  	       *
  	    FROM (SELECT
  	            a.*,
  	            rownum rnum
  	          FROM (SELECT
  	                  *
  	                FROM study_create JOIN member USING(mem_num)
  	                <if test="filter=='all' || filter==null">
  	               		<include refid="studySearch"></include>
  	                </if>
  	                <if test="filter!=null">
	  	                <if test="filter=='programming'">
	  	                	WHERE stc_filter = '프로그래밍'
	  	                </if>
	  	                <if test="filter=='datascience'">
	  	                	WHERE stc_filter = '데이터사이언스'
	  	                </if>
	  	                <if test="filter=='design'">
	  	                	WHERE stc_filter = '디자인'
	  	                </if>
	  	                <if test="filter=='video'">
	  	                	WHERE stc_filter = '영상'
	  	                </if>
	  	                <if test="filter=='language'">
	  	                	WHERE stc_filter = '어학'
	  	                </if>
	  	                <if test="filter=='marketing'">
	  	                	WHERE stc_filter = '마케팅'
	  	                </if>
	  	                <include refid="filterSearch"></include>
  	                </if>
  	                ORDER BY stc_num DESC)a)
  	    <![CDATA[
  	    WHERE rnum >= #{start} AND rnum <= #{end}
  	    ]]>             
  	</select>
</mapper>