<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.group.dao.GroupMapper">  
  	
  	<select id="selectCountNotice" parameterType="map" resultType="integer">
  		select count(*) from group_notice
  		
  	</select>
  	
  	
  	<select id="selectNoticeList" parameterType="map" resultType="GroupNoticeVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              grp_num,
  		              <![CDATA[
  		              REPLACE(REPLACE(grp_title,'<','&lt;'),'>','&gt;') grp_title,
  		              ]]>
  		              grp_hit,
  		              grp_filename,
  		              grp_date,
  		              grp_mdate,
  		              stc_num
  		            FROM group_notice
  		            ORDER BY grp_num DESC)a)                         
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<update id="updateNotice" parameterType="groupNoticeVO">
  		UPDATE group_notice SET
  		  <if test="grp_filename != ''">
  		  grp_uploadfile=#{grp_uploadfile},
  		  grp_filename=#{grp_filename},
  		  </if>
  		  grp_title=#{grp_title},
  		  grp_content=#{grp_content},
  		  grp_mdate=SYSDATE
  		WHERE grp_num=#{grp_num}  
  	</update>
  	
</mapper>







