@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Noto+Sans+KR:wght@300&display=swap');

*{
	font-family: 'Noto Sans KR', 'Archivo', sans-serif;
}

div.page-main{
	width:1024px;
	margin:10px auto;
	padding:50px;
	align-content: center;
}

a:hover{
	color:black;
	text-decoration:none;
}
ul.detail-info{
	padding-top: 10px;
	padding-bottom: 10px;
}
li.text-right{
	float: right;
}
.text-clear{
	float:none;
	clear:both;
}

ul.detail-information{
	font-size: 17px;
	padding-left: 0px;
	padding-bottom: 50px;
}
li.text-br{
	padding-top: 10px;
}

.study-content{
	background-color: #f2f4fc;
	min-height:100px;
	padding: 10px;
}

.text-grey{
	color:#495057;
	font-size:20px;
	font-weight: bolder;
}
.text-black{
	padding-left:20px;
	font-size:20px;
	font-weight: bolder;
}

#output_text{
	display: none;
}


#main-button{
	padding-top:50px;
	font-size: 20px;
}

button.btn{
	border-radius: 27px;
}




/* 모달창 */
#exampleModal{
	margin-top:100px;	
}
#exampleModal .btn-close {
	float: right;
}

.btn-primary{
	float: right;
	width: 180px;
	height: 50px;
	font-size: 23px;
	background-color: red;
	border: none;
}

#register_signupDetail{
	border: none;
}
form.modal-body{
	border:none;
	padding: 0 auto;
	margin: 0 auto;
	width: 450px;
}