@charset "UTF-8";

#exampleModal{
	margin-top:100px;	
}
#exampleModal .btn-close {
	float: right;
}
.btn-primary{
	float: right;
}

div#clear{
	clear:both;
}
#register_signupDetail{
	border: none;
}
form.modal-body{
	border:none;
	padding: 0 auto;
	margin: 0 auto;
	width: 450px;
}