@charset "UTF-8";

/* 글꼴  */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:  'NEXON Lv1 Gothic OTF';
}

/* 버튼 */

.btn{
	color:#555;
	background-color:white;
	border:none;
	border-radius:3px;
	margin-bottom:10px;
	
	position: relative;
}

.btn:hover{
	background-color:white;
	color:black;
	transition: all 0.5s;
}
.btn:focus{
	background-color:white;
	color:gray;
}

.btn span{position: absolute; background:rgba(0,0,255,0.2);}
.btn span:nth-child(1) {left: 0; top: 0; width: 0; height: 50px;}
.btn span:nth-child(1) {left: 0; top: 0; width: 0; height: 50px; transition: width 0.5s;}
.btn:hover span:nth-child(1) {width: 100%;}
/*

.btn span{position: absolute; background: #969CE4;}
.btn span:nth-child(1) {left: 0; top: 0; width: 0; height: 3px;}
.btn span:nth-child(2) {right: 0; top: 0; width: 3px; height: 0;}
.btn span:nth-child(3) {right: 0; bottom: 0; width: 0; height: 3px;}
.btn span:nth-child(4) {left: 0; bottom: 0; width: 3px; height: 0;}

.btn span:nth-child(1) {left: 0; top: 0; width: 0; height: 50px; transition: width 0.3s;}
.btn span:nth-child(2) {right: 0; top: 0; width: 3px; height: 0; transition: height 0.3s;}
.btn span:nth-child(3) {right: 0; bottom: 0; width: 0; height: 3px; transition: width 0.3s;}
.btn span:nth-child(4) {left: 0; bottom: 0; width: 3px; height: 0; transition: height 0.3s;}


.btn:hover span:nth-child(1) {width: 100%;}
.btn:hover span:nth-child(2) {height: 100%;}
.btn:hover span:nth-child(3) {width: 100%;}
.btn:hover span:nth-child(4) {height: 100%;}
*/


/* 필터 */
.std-filter1{
	background-color:#969ce4;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}

.std-filter2{
	background-color:#ace0dd;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}

.std-filter3{
	background-color:#f0cc96;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}

.std-filter4{
	background-color:#acdbfc;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}

.std-filter5{
	background-color:#fcb6d0;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}

.std-filter6{
	background-color:#d8b5f5;
	color:white;
	border-radius:5px;
	padding:3px 4px 2px 3px;
	margin:15px 0;
}


/* 페이지 */
div.page-main{
	width:1024px;
	margin:10px auto;
	padding:80px 100px 80px 100px;
	align-content: center;
}
a:hover{
	color:black;
	text-decoration:none;
}
ul.study-info{
	padding-top: 10px;
	padding-bottom: 10px;
	list-style:none;
	margin:0;
	padding:0;
}
ul.study-info li{
	margin:0;
	padding-top:5px;
	float:left;
}
ul.study-info li:last-child{
	vertical-align:top;
}

.text-right{
	float: right;
}
.text-left{
	float: left;
	width: 40%;
}
.text-clear{
	float:none;
	clear:both;
}
li.text-br{
	padding-top:10px;
}

ul.detail-information{
	font-size: 17px;
	padding-left: 0px;
	padding-bottom: 10px;
}

.study-content{
	background-color: #f2f4fc;
	min-height:100px;
	padding: 10px;
}

.text-grey{
	color:#888;
	font-size:19px;
	font-weight: bolder;
}
.text-black{
	padding-left:20px;
	font-size:19px;
	font-weight: bolder;
}


#main-button{
	padding-top:50px;
	font-size: 19px;
}


/* 관심등록 */

.jb-text {
	padding: 15px 20px;
	background-color: #444444;
	border-radius: 5px;
	color: #ffffff;
	position: absolute;
	opacity: 0;
	transition: all ease 0.5s;}

.jb-title:hover + .jb-text {
	opacity: 1;
}


/* 모달창 */
#exampleModal{
	margin-top:100px;	
}
.modal-header{
	color:white;
	background-color: #969CE4;
	padding-top: 4px;
}


.btn-close {
	background-color: red;
	transition: 0.3s;
}
.btn-primary{
	float: right;
	width: 150px;
	height: 50px;
	font-size: 21px;
}

div#modal_count{
	float: right;
}

#register_signupDetail{
	border: none;
}

form.modal-body{
	border:none;
	padding: 0 auto;
	margin: 0 auto;
	width: 450px;
}