/* 폰트
---------------------------*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family:'NEXON Lv1 Gothic OTF';}

input, select, button{
	font-family:'NEXON Lv1 Gothic OTF';
}

/* 메인 - 전체(틀, 공통)
---------------------------*/

.main-page{
	width:1200px;
	margin:0 auto;
}

.float-clear{
	clear:both;
}

.align-center{
	text-align:center;
}

.align-right{
	text-align:right;
}

.page-number{
	padding-top:20px;
	clear:both;
	text-align:center;
}

.page-number b span{ /* 페이지 버튼 글씨 */
	color: grey !important;
	cursor: pointer !important;
}

label{
	cursor:pointer;
}

/* 메인 - 배너
---------------------------*/

.main-banner{
	margin:5px auto;
	padding:20px 0;
	width:1024px;
	height:300px;
}

/* 메인 - 스터디모집 버튼
---------------------------*/

.study-create{
	width:1024px;
	margin:0 auto 20px auto;
	text-align:right;
}

#stc-button{
	font-family:'NEXON Lv1 Gothic OTF';
}

a#std-a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
a#std-a span {
    padding: 15px;
    transition: .5s;
    position: relative;
}
a#std-a span:nth-child(1) {
    color: #fff;
    background: #b4bbc2;
}
a#std-a span:nth-child(2) {
    color: #fff;
    background: #a5a6e9;
}
a#std-a span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #a5a6e9;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
}
a#std-a:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
} 
a#std-a span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #b4bbc2;
    padding: 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}
a#std-a:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
} 
a#std-a span:nth-child(1):after {
  content: attr(data-attr);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #b4bbc2;
  transform-origin: bottom;
  transform: rotateX(0deg) translateY(0%);
  transition: 0.5s;
}
a#std-a:hover span:nth-child(1):after {
  transform: rotateX(90deg) translateY(50%);
}
a#std-a span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #a5a6e9;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
}
a#std-a:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
}

/* 메인 - 필터
---------------------------*/

.filter{
	width:1024px;
	margin:0 auto;
	text-align:center;
	font-size:9pt;
}

.filter ul{
	display:inline-block;
	text-align:center;
	padding:0 15px;
}

.filter ul li{
	float:left;
	position:relative;
}

.filter-icon{
	width:50px;
	height:50px;
	border-radius:5px;
	padding-bottom:3px;
}

ul.datascience{
	padding:0;
}

#text1{
	color:#f54cb2;
}
#text2{
	color:#6f5bd9;
}
#text3{
	color:#a5a6e9;
}
#text4{
	color:#9481a1;
}
#text5{
	color:#ff9889;
}
#text6{
	color:#ffdaa5;
}


/* 메인 - 검색창
---------------------------*/

select::-ms-expand { 
	display: none;
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.study-search{
	width:458px;
	height:31px;
	list-style:none;
	padding:0 0 10px 0;
	margin:10px auto;
}

.study-search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}

.search1{
	width:77px;
    margin: 0;
    height:31px;
    border:1px solid #CCCCCC;
    text-align:center;
}

.search1:focus, .search2:focus{
	outline:none;
}

.search2{
	margin-left:-1px;
	padding:7px;
	width:300px;
	height:31px;
	border:1px solid #CCCCCC;
}

.search3{
	margin-left:-1px;
	width:77px;
	height:31px;
	border:1px solid #CCCCCC;
	cursor:pointer;
}

/* 메인 - 스터디 목록
---------------------------*/

.studylist-main{
	width:1024px;
	margin:0 auto;
}

.card{
	float:left;
	margin:16px;
	width:222px;
	height:260px;
	overflow:hidden;
	text-align:left;
	cursor:pointer;
	border:1px solid #ced4de;
}



/* 메인 - 스터디 목록(텍스트)
---------------------------*/

.card ul{
	padding:0 20px 10px 20px;
	list-style:none;
}

.std-filter1{
	background-color:#f7e3ef;
	color:#f54cb2;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-filter2{
	background-color:#d5cff5;
	color:#6f5bd9;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-filter3{
	background-color:#a5a6e9;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-filter4{
	background-color:#9481a1;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-filter5{
	background-color:#ff9889;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-filter6{
	background-color:#ffdaa5;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-state1{
	background-color:#68d98e;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}
.std-state2{
	background-color:#4a4646;
	color:white;
	border-radius:5px;
	padding:0px 4px 2px 3px;
	margin:15px 0;
}

.std-label{
	font-size:8pt;
	text-align:center;
}

.std-title{
    padding:8px 0 3px 0;
    font-size:10pt;
}

.std-title b{
	display:inline-block;
	width:182px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.std-wdate{
	font-size:8pt;
	padding-bottom:7px;
}

.std-mem{
	float:left;
	font-size:9pt;
}

.std-nick{
	line-height:2.3;
}

.std-perlabel{
	float:right;
	background-color:#b0b7c2;
	color:white;
	border-radius:5px;
    height: 18px;
    margin:5px 2px 0 3px;
}

.std-per{
	float:right;
	line-height:1.7;
	font-size:9pt;
	margin:0 3px 2px 2px;
}


/* 메인 - 스터디 목록(이미지)
---------------------------*/

.std-image{
	width:182px;
	height:110px;
	padding:8px 0;
}

.std-memimage{
	width:27px;
	height:27px;
	float:left;
	border-radius:20px;
	vertical-align:middle;
}




/* 메인 - carousel
---------------------------*/
.carousel{position:relative}.carousel.pointer-event{touch-action:pan-y}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-inner::after{display:block;clear:both;content:""}.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:transform .6s ease-in-out}@media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}.active.carousel-item-end,.carousel-item-next:not(.carousel-item-start){transform:translateX(100%)}.active.carousel-item-start,.carousel-item-prev:not(.carousel-item-end){transform:translateX(-100%)}.carousel-fade .carousel-item{opacity:0;transition-property:opacity;transform:none}.carousel-fade .carousel-item-next.carousel-item-start,.carousel-fade .carousel-item-prev.carousel-item-end,.carousel-fade .carousel-item.active{z-index:1;opacity:1}.carousel-fade .active.carousel-item-end,.carousel-fade .active.carousel-item-start{z-index:0;opacity:0;transition:opacity 0s .6s}@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-end,.carousel-fade .active.carousel-item-start{transition:none}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:flex;align-items:center;justify-content:center;width:15%;padding:0;color:#fff;text-align:center;background:0 0;border:0;opacity:.5;transition:opacity .15s ease}@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:2rem;height:2rem;background-repeat:no-repeat;background-position:50%;background-size:100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237B7CD6'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")}.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237B7CD6'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")}.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:2;display:flex;justify-content:center;padding:0;margin-right:15%;margin-bottom:1rem;margin-left:15%;list-style:none}.carousel-indicators [data-bs-target]{box-sizing:content-box;flex:0 1 auto;width:30px;height:3px;padding:0;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;background-clip:padding-box;border:0;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5;transition:opacity .6s ease}@media (prefers-reduced-motion:reduce){.carousel-indicators [data-bs-target]{transition:none}}.carousel-indicators .active{opacity:1}.carousel-caption{position:absolute;right:15%;bottom:1.25rem;left:15%;padding-top:1.25rem;padding-bottom:1.25rem;color:#fff;text-align:center}.carousel-dark .carousel-control-next-icon,.carousel-dark .carousel-control-prev-icon{filter:invert(1) grayscale(100)}.carousel-dark .carousel-indicators [data-bs-target]{background-color:#000}.carousel-dark .carousel-caption{color:#000}
.d-block{display:block!important}.w-100{width:100%!important}.visually-hidden,.visually-hidden-focusable:not(:focus):not(:focus-within){position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important} .carousel-control-next, .carousel-control-prev{cursor:pointer;}