/* 폰트
---------------------------*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family:'NEXON Lv1 Gothic OTF';}

input, textarea, select, button, #upload{
	font-family:'NEXON Lv1 Gothic OTF';
}

input[type=file]::file-selector-button{
	font-family:'NEXON Lv1 Gothic OTF';
}


/* 폼
---------------------------*/

.stc-main{
	margin:0 auto;
	width:1024px;
	text-align:center;
}
form{
	width:800px;
	margin:0 auto;
	border:1px solid #f0f0f0;
	padding:10px 10px 10px 30px;
}
input[type="text"], [type="number"]{
	width:294px;
	height:25px;
}
input#stc_title{
	width:598px;
	height:30px;
}
select{
	width:300px;
	height:30px;
}
textarea{
	width:600px;
	height:300px;
}

ul li{
	padding:5px;
}
.stc_button{
	padding:0 0 15px 0;
	font-family:'NEXON Lv1 Gothic OTF';
}




