<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">  
  	<select id="selectRowCount" parameterType="map" resultType="integer">
  		<!-- 탈퇴회원 정보도 불러오기 위하여 outer join 사용 -->
  		SELECT COUNT(*) FROM member m LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num
  		<where>
  			<if test="keyword != null and keyword != ''">
  				<if test="keyfield == 1">
  					m.mem_id LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					d.mem_name LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 3">
  					d.mem_email LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 4">
  					m.mem_id LIKE '%' || #{keyword} || '%' OR
  					d.mem_name LIKE '%' || #{keyword} || '%' OR
  					d.mem_email LIKE '%' || #{keyword} || '%'
  				</if>
  			</if>
  		</where>
  	</select>
  	
  	<select id="selectList" parameterType="map" resultType="memberVO">
  		SELECT * FROM (SELECT a.*, rownum rnum FROM (SELECT * FROM member m LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num 
  		<where>
  			<if test="keyword != null and keyword != ''">
  				<if test="keyfield == 1">
  					m.mem_id LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 2">
  					d.mem_name LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 3">
  					d.mem_email LIKE '%' || #{keyword} || '%'
  				</if>
  				<if test="keyfield == 4">
  					m.mem_id LIKE '%' || #{keyword} || '%' OR
  					d.mem_name LIKE '%' || #{keyword} || '%' OR
  					d.mem_email LIKE '%' || #{keyword} || '%'
  				</if>
  			</if>
  		</where>
  		ORDER BY d.mem_reg DESC NULLS LAST)a)
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	
</mapper>







