<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.community.dao.FreeMapper">

	<!-- 
		1. 검색을 사용하기 위해 동적 SQL 사용
		2. SQL 태그와 include 태그를 이용해 SQL문을 재사용
	-->
	<sql id="freeSearch">
		<where> <!-- 1)전체 2)제목 3)내용 4)작성자 -->
			<if test="keyword!=null and keyword!=''">
				<if test="keyfield==1">
					
				</if>
				<if test="keyfield==2">
					f.free_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==3">
					f.free_content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==4">
					m.mem_id LIKE '%' || #{keyword} || '%' OR
					m.mem_nick LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<select id="selectFreeRowCount" parameterType="map" resultType="integer">
		SELECT
		 COUNT (*)
		FROM free_board f JOIN member m ON f.mem_num=m.mem_num
		<include refid="freeSearch"></include>
	</select>
	
	<select id="selectFreeList" parameterType="map" resultType="freeVO">
		SELECT
		 *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		 f.free_num,
			  		 <![CDATA[
			  		 REPLACE(REPLACE(f.free_title,'<','&lt'),'>','&gt;') free_title,
			  		 ]]>
			  		 f.free_hit,
			  		 f.free_filename,
			  		 f.free_regdate,
			  		 m.mem_num,
			  		 m.mem_nick
			  		FROM free_board f JOIN member m
			  		ON m.mem_num=f.mem_num
			  		ORDER BY f.free_num DESC)a)
		<![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end}
		]]>
	</select>
	
</mapper>