<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.study.dao.StudyMapper">  
  	<!-- sql 태그와 include 태그를 이용해 SQL문을 재사용 -->
  	
  	
  	<select id="selectRowCount" parameterType="map"
  	                            resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM study_create b JOIN member m
  		ON b.mem_num = m.mem_num                       
  	</select>
  	
</mapper>







