@charset "UTF-8";

/* ============================================= */
/* ==================== 공통 ==================== */
/* ============================================= */
div.sub-menu ul{
	list-style:none;
}
div.sub-menu ul li{
	float:left;
	margin-left:20px;
}
input.on{
	background-color:yellow;
}

/* ============================================= */
/* ==================== 전체 ==================== */
/* ============================================= */


/* ============================================= */
/* ==================== 자유 ==================== */
/* ============================================= */
div.f-page-main{
	width:1024px;
	margin:0 auto;
}
div.free-paging{
	text-align:center;
	margin-top:20px;
}


/* ============================================= */
/* ==================== 홍보 ==================== */
/* ============================================= */


/* ============================================= */
/* ==================== 후기 ==================== */
/* ============================================= */