<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.free.dao.FreeMapper">
	<!-- 전체 목록 시작 -->
	<select id="selectFullList" parameterType="map" resultType="freeVO">
		SELECT * FROM
			(SELECT a.*, rownum rnum FROM
			(SELECT * FROM
			(SELECT '자유' as tblName,f.free_num,f.free_title,f.free_content,f.free_regdate,f.free_hit,d.mem_photo_name,m.mem_nick,
				(SELECT COUNT(*) FROM free_reply r WHERE r.free_num=f.free_num) f_replyCnt,
				(SELECT COUNT(*) FROM free_fav w WHERE w.free_num=f.free_num) f_favCnt,m.mem_id,m.mem_num,f.free_fixed 
				FROM free_board f JOIN member m ON m.mem_num=f.mem_num JOIN member_detail d ON d.mem_num=f.mem_num 
			UNION ALL
			SELECT '홍보' as tblName,p.promo_num,p.promo_title,p.promo_content,p.promo_regdate,p.promo_hit,d.mem_photo_name,m.mem_nick,
				(SELECT COUNT(*) FROM promo_reply r WHERE r.promo_num=p.promo_num) p_replyCnt,
				(SELECT COUNT(*) FROM promo_fav w WHERE w.promo_num=p.promo_num) p_favCnt,m.mem_id,m.mem_num,p.promo_fixed 
				FROM promo_board p JOIN member m ON m.mem_num=p.mem_num JOIN member_detail d ON d.mem_num=p.mem_num 
			UNION ALL
			SELECT '후기' as tblName,v.review_num,v.review_title,v.review_content,v.review_regdate,v.review_hit,d.mem_photo_name,m.mem_nick,
				(SELECT COUNT(*) FROM review_reply r WHERE r.review_num=v.review_num) v_replyCnt,
				(SELECT COUNT(*) FROM review_fav w WHERE w.review_num=v.review_num) v_favCnt,m.mem_id,m.mem_num,v.review_fixed 
				FROM review_board v JOIN member m ON m.mem_num=v.mem_num JOIN member_detail d ON d.mem_num=v.mem_num) 
			WHERE free_fixed=2 <include refid="fullSearch"></include>
			<if test="sort=='last' || sort==null">
			ORDER BY free_regdate DESC
			</if>
			<if test="sort=='hit'">
			ORDER BY free_hit DESC
			</if>
			<if test="sort=='fav'">
			ORDER BY f_favCnt DESC, free_hit DESC
			</if>
			<if test="sort=='reply'">
			ORDER BY f_replyCnt DESC, free_hit DESC
			</if> 
			)a)
		<![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end} 
		]]>
	</select>
	<!-- 전체 목록 끝 -->
	<!-- 전체 검색 시작 -->
	<sql id="fullSearch">
			<if test="keyword!=null and keyword!=''">
				AND
				<if test="keyfield==1">
					free_title LIKE '%' || #{keyword} || '%' OR
					free_content LIKE '%' || #{keyword} || '%' OR
					mem_id LIKE '%' || #{keyword} || '%' OR
					mem_nick LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==2">
					free_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==3">
					free_content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==4">
					mem_id LIKE '%' || #{keyword} || '%' OR
					mem_nick LIKE '%' || #{keyword} || '%'
				</if>
			</if>
	</sql>
	<!-- 전체 검색 끝 -->
	<!-- 전체 목록 개수 시작 -->
	<select id="selectFullRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM
			(SELECT free_num,free_title FROM free_board WHERE free_fixed=2
			UNION ALL
			SELECT promo_num,promo_title FROM promo_board WHERE promo_fixed=2
			UNION ALL
			SELECT review_num,review_title FROM review_board WHERE review_fixed=2)
	</select>
	<!-- 전체 목록 개수 끝 -->

	<!-- 
		1. 검색을 사용하기 위해 동적 SQL 사용
		2. SQL 태그와 include 태그를 이용해 SQL문을 재사용
	-->
	<!-- 자유 검색 시작 -->
	<sql id="freeSearch">
		<where> <!-- 1)전체 2)제목 3)내용 4)작성자 -->
			<if test="keyword!=null and keyword!=''">
				<if test="keyfield==1">
					f.free_title LIKE '%' || #{keyword} || '%' OR
					f.free_content LIKE '%' || #{keyword} || '%' OR
					m.mem_id LIKE '%' || #{keyword} || '%' OR
					m.mem_nick LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==2">
					f.free_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==3">
					f.free_content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==4">
					m.mem_id LIKE '%' || #{keyword} || '%' OR
					m.mem_nick LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	<!-- 자유 검색 끝 -->
	
	<select id="selectFreeRowCount" parameterType="map" resultType="integer">
		SELECT
		 COUNT (*)
		FROM free_board f JOIN member m ON f.mem_num=m.mem_num
		<include refid="freeSearch"></include>
	</select>
	
	<select id="selectFreeList" parameterType="map" resultType="freeVO">
		SELECT
		 *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		 '자유' as tblName,
			  		 f.free_num,
			  		 <![CDATA[
			  		 REPLACE(REPLACE(f.free_title,'<','&lt'),'>','&gt;') free_title,
			  		 ]]>
			  		 f.free_hit,
			  		 f.free_fixed,
			  		 f.free_filename,
			  		 f.free_regdate,
			  		 (SELECT COUNT(*) FROM free_reply r WHERE r.free_num=f.free_num) f_replyCnt,
			  		 (SELECT COUNT(*) FROM free_fav w WHERE w.free_num=f.free_num) f_favCnt,
			  		 m.mem_num,
			  		 m.mem_nick,
			  		 d.mem_photo_name
			  		FROM free_board f JOIN member m ON m.mem_num=f.mem_num
			  		JOIN member_detail d ON d.mem_num=f.mem_num
			  		<include refid="freeSearch"></include>
			  		<if test="sort=='last' || sort==null">
			  			ORDER BY f.free_regdate DESC)a)
			  			<![CDATA[
						WHERE rnum>=#{start} AND rnum<=#{end}
						]]>
			  		</if>
			  		<if test="sort=='hit'">
			  			ORDER BY f.free_hit DESC)a)
			  			<![CDATA[
						WHERE rnum>=#{start} AND rnum<=#{end}
						]]>
			  		</if>
			  		<if test="sort=='fav'">
			  			ORDER BY f_favCnt DESC, f.free_hit DESC)a)
			  			<![CDATA[
						WHERE rnum>=#{start} AND rnum<=#{end}
						]]>
			  		</if>
			  		<if test="sort=='reply'">
			  			ORDER BY f_replyCnt DESC, f.free_hit DESC)a)
			  			<![CDATA[
						WHERE rnum>=#{start} AND rnum<=#{end}
						]]>
			  		</if> 
			  		<!-- )a) -->
		<!-- <![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end}
		]]> -->
	</select>
	
	<update id="updateFree" parameterType="freeVO">
  		UPDATE free_board SET
  		 <if test="free_filename!=''">
  		 free_uploadfile=#{free_uploadfile},
  		 free_filename=#{free_filename},
  		 </if>
  		 free_title=#{free_title},
  		 free_content=#{free_content},
  		 free_ip=#{free_ip},
  		 free_modifydate=SYSDATE
  		WHERE free_num=#{free_num}
  	</update>
  	
  	<!-- 댓글 목록 -->
  	<select id="selectFreeListReply" parameterType="map" resultType="FreeReplyVO">
  		SELECT
  		 *
  		FROM(SELECT
  				a.*,
  				rownum rnum
  			 FROM(SELECT
  			 		fre_num,
  			 		<![CDATA[
  			 		REPLACE(REPLACE(fre_content,'<','&lt;'),'>','&gt;') fre_content,
  			 		]]>
  			 		fre_regdate,
  			 		fre_modifydate,
  			 		free_num,
  			 		mem_num,
  			 		mem_id,
  			 		mem_nick
  			 	  FROM free_reply JOIN member
  			 	  USING (mem_num)
  			 	  WHERE free_num=#{free_num}
  			 	  ORDER BY fre_num DESC)a)
  			 <![CDATA[
  			 WHERE rnum>=#{start} AND rnum<=#{end}
  			 ]]>
  	</select>
</mapper>