@charset "UTF-8";

/* 공통 목록
---------------------------*/
.page-main{
	width: 70em;
}
form#search_form{
	border: none;
    padding: 2em 3em 3em 3em;
    margin: 0 auto;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li input[type="search"]{
	width:13em;
}
.list-space{
	width:700px;
	margin:10px auto;
}
table.basic-table{
	width:100%;
	margin:7px 0;
	border:1px solid #000;
	border-collapse:collapse;
}
table.basic-table td, table.basic-table th{
	border:1px solid #000;
	padding:5px;
}

table.striped-table{
	border:1px solid #FFF;
	font-size:15px;
	width:100%;
	border-collapse:collapse;
	background-color: #fff;
	margin-bottom: 2em;
}

table.striped-table th{
	background-color: #969ce4;
}
table.striped-table td, table.striped-table th{
	padding: .7em .5em;
	vertical-align:middle;
}
table.striped-table th{
    color: white;
	font-weight:bold;
	background:#969ce4;
}
table.striped-table td{
	border-bottom:1px solid rgba(0,0,0,.1);
	text-align:center;
}
.list-btn {
    font: inherit;
    font-size: 0.75rem;
    padding: 0.25em;
    width: 3.5em;
    border-radius: 6px;
    border: 0;
    background-color: #969ce4;
    color: #FFF;
    font-weight: bold;
    transition: all .15s linear;
}
.list-btn:hover {
	background-color: #6658d3;
	color: #FFF;
}
.admin-btn {
    font: inherit;
    font-size: 0.75rem;
    padding: 1em;
    width: 6em;
    border-radius: 6px;
    border: 0;
    background-color: #969ce4;
    color: #FFF;
    font-weight: bold;
    transition: all .15s linear;
}
.admin-btn:hover {
	background-color: #6658d3;
	color: #FFF;
}

/*회원권한수정*/
.form-modi h2{
	text-align:center;
	padding: 0.75em;	
}
.form-modi {
    margin: 0px auto;
    width: 100%;
    max-width: 560px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
}
.form-modi ul{
	padding: 1em;	
}
.form-modi ul li{
	list-style: none;
	padding: 0.15em;
}
.form-modi ul li label{
    width: 105px;
    float: left;
    color: #592e6a;
    font-weight: bold;
}

.modi-btn {
    font: inherit;
    font-size: 0.75rem;
    padding: 1em;
    width: 6em;
    border-radius: 6px;
    border: 0;
    background-color: #969ce4;
    color: #FFF;
    font-weight: bold;
    transition: all .15s linear;
}
.modi-btn:hover {
	background-color: #6658d3;
	color: #FFF;
}

















