@charset "UTF-8";

/* 공통 목록
---------------------------*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: 'NEXON Lv1 Gothic OTF';
}
div.main-menu {
    width: 100%;
    height: 40px;
    background-color: #a5a6e9;
    position: absolute;
    margin: 0;
    padding: 0;
}
div.top-page-main {
    width: 1024px;
    margin: 0 auto;
    height: 32px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
a.main-menu-text {
    color: white;
    font-size: 15px;
}
/*페이지 버튼*/
.page{
	text-align: center;
	margin: 0 auto;
	padding:0 50px 100px 50px;

}
.page b span{ /* 페이지 버튼 글씨 */
	color: grey !important;
	cursor: pointer !important;
}
.admin-title{
	position: relative;	
	margin-bottom: 15px;
}

form#search_form{
	border: none;
    padding: 1em 3em 1em 3em;
    margin: 0 auto;
}
.admin-search{
	width: 530px;
    height: 31px;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 10px auto;
}
.admin-search li {
    margin: 0 0 9px 0;
    padding: 0;
    display: inline;
}
.search1{
	width: 77px;
    margin: 0;
    padding: 7px;
    height: 31px;
    border: 1px solid #CCCCCC;
    margin-top: 2px;
}
.search2{
	margin-left: -5px;
    padding: 7px;
    width: 300px;
    height: 31px;
    border: 1px solid #CCCCCC;
}
.search3{
	margin-left: -5px;
    width: 70px;
    height: 31px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
/* ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li input[type="search"]{
	width:13em;
} */
.list-space{
	width:700px;
	margin:10px auto;
}

.list-btn {
   background: #a5a6e9;
   display: inline-block;
   line-height: 50px;
   padding: 0 20px;
   font-size: 15px;
   font-weight: 500;
   color: white;
   width: 150px;
   text-align: center;
   vertical-align: middle;
   border-radius: 5px;
   border: none;
}
.list-btn:hover {
   background-color: rgb(66, 66, 134);
   cursor: pointer;
   color: white;
}
.admin-btn {
   background: #a5a6e9;
   display: inline-block;
   line-height: 50px;
   padding: 0 20px;
   font-size: 15px;
   font-weight: 500;
   color: white;
   width: 150px;
   text-align: center;
   vertical-align: middle;
   border-radius: 5px;
   border: none;
}
.admin-btn:hover {
   background-color: rgb(66, 66, 134);
   cursor: pointer;
   color: white;
}

/*회원권한수정*/
.form-modi h2{
	text-align:center;
	padding: 0.75em;	
}
.modi-li{
	text-align: center;
}
.form-modi {
    margin: 0px auto;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
    min-height: 400px;
}
.form-modi ul{
	padding: 1em;	
}
.form-modi ul li{
	list-style: none;
	padding: 0.15em;
}
.form-modi ul li label{
    width: 105px;
    float: left;
    color: #000;
    font-weight: bold;
}
.form-modi ul li p{
    width: 250px;
    float: left;
    margin: 0 auto;
}
.modi-detail{
    position: relative;
    margin: 0 auto;
}

.modi-btn {
    font: inherit;
    font-size: 0.75rem;
    padding: 1em;
    width: 6em;
    border-radius: 6px;
    border: 0;
    background-color: #969ce4;
    color: #FFF;
    font-weight: bold;
    transition: all .15s linear;
}
.modi-btn:hover {
	background-color: #6658d3;
	color: #FFF;
}












