@charset "UTF-8";

.rwd-table {
	margin: auto;
    width: 1024px;
    border-collapse: collapse;
    margin-bottom: 3em;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}

.rwd-table tr:first-child {
  border-top: none;
  background: #969ce4;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

/* .rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #d0d3ff66
} */

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen{
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen{
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d0d3ff66
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}




