@font-face{
	font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 메인페이지 크기 */
*{
	overflow-x: hidden; /* 가로스크롤 없애기 */
}
body{
	width: 100%;
	height: 100vh;
	font-family:'NEXON Lv1 Gothic OTF';
}

div#main{
	width: 100%;
	margin:0 auto;
}
div#main_header{
	width: 100%;
	height: 100px;
}
/* 헤더크기 안맞아서 */
.hader-body{
	width: 100vw;
}
.header-body div#main_sidebar{
	float:left;
	width:20%;
}
.header-body div#main_content{
	float: right;
	width: 80%;
	padding:5px 5px 0px 5px;
	min-height: 100px;
}
/* 푸터크기 줄이기위해 */
div#main_footer{
	width: 100%;
	overflow-y: hidden;
}
.group-footer .footer-site-logo{
	padding: 0 !important;
}
.group-footer .mb-5{
	margin: 0 !important;
}
/* 헤더부분 css */
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:underline;
	color:#999999;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}
/* 푸터에 li태그에 스크롤없애기 */
div#main_footer li{
	overflow-y: hidden;
}
/* 푸터 너무 넓어서 마진 없애기 */
.group-footer .social{
	margin-bottom: 0 !important;
}
.group-footer .footer-16371{
	padding: 1rem !important;
}