@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    height: auto; 
    font-family: 'NEXON Lv1 Gothic OTF';
    margin: 0;
}
.header-div{
	overflow-x: hidden;
	overflow-y: hidden;
   	height: 100px;
   	width: 100%;
}
.header-left{/*넓이는 left, right의 width와 각 paddingleft, paddingright 합쳐서100%되도록*/
    float: left;
    width: 15%;
    padding: 0 0 0 4%;
}
.header-right{
    float: right;
    width: 76%;
    height: 70px; /*높이를 로고이미지와 동일하게.*/ 
    line-height: 70px; /*라인 높이는 height와 동일하게*/
    text-align: right;
    padding: 15px 5% 15px 0;
    
}
.header-right a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.header-right a:hover{
	color: #969ce4;
}
.header-right img{
	border-radius: 50%;
	vertical-align: middle;
}
.header-right .p-l-10{
    padding-left: 10px;
}
.header-right .p-r-10{
	padding-right: 10px;
}