@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Noto+Sans+KR:wght@300&display=swap');

/* ============================================= */
/* ==================== 공통 ==================== */
/* ============================================= */
*{
	font-family: 'Noto Sans KR', 'Archivo', sans-serif;
}
.align-left{
	text-align:left;
}
.clear{
	clear:both;
}
/* 링크 */
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:none;
	color:#999999;
}

/* 메인 메뉴 / 메인 텍스트 */
div.main-menu{
	width:100%; height:40px;
	background-color:#969CE4;
	position:absolute;
}
div.top-page-main{
	width:1024px; margin:0 auto;
	height:32px;
	padding-bottom:10px;
	display:flex; align-items:center;
    position:relative;
}
a.main-menu-text{
	color:white;
	font-size:15px;
}

/* 서브 메뉴 - left */
div.sub-menu-left{
	padding-top:75px;
	float:left; width:40%;
	font-size:14px;
	position:relative;
}
div.sub-menu-left ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-left ul li{
	float:left;
	margin-left:20px;
}
div.sub-menu-left ul li a{
	font-weight:bold;
	color:gray;
}
div.sub-menu-left ul li a:hover{
	font-weight:bold;
	color:black;
}
div.sub-menu-left input[type=button]{
	padding:0 5px; margin:auto; margin-top:1px;
	height:20px;
	font-size:12px;
}

/* 서브 디테일 메뉴 - left */
div.sub-menu-left-detail{
	padding-top:60px;
	float:left; width:40%;
	font-size:14px;
	position:relative;
}
div.sub-menu-left-detail ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-left-detail ul li{
	float:left;
	margin-left:20px;
}
div.sub-menu-left-detail ul li a{
	font-weight:bold;
	color:gray;
}

/* 서브 메뉴 - right */
div.full-sub-menu-right{
	padding:61px 0 15px 0;
	margin-left:2px;
	float:right; width:25%;
	position:relative;
}
div.full-sub-menu-right form{
	border:none;
}
div.full-sub-menu-right ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.full-sub-menu-right ul li{
	display:inline-block;
	margin-left:-2px;
}
div.full-sub-menu-right ul li input.list-btn{
	border:none;
}

div.sub-menu-right{
	padding:60px 0 15px 0;
	float:right; width:50%;
}
div.sub-menu-right form{
	border:none;
}
div.sub-menu-right ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-right ul li{
	display:inline-block;
	margin-left:-2px;
}
div.sub-menu-right ul li input.list-btn{
	border:none;
}
/* 옵션 - 정렬 필터  */
.sort-option{
	height:25px;
}
.sort-option .sort-select{
	width:inherit; height:inherit;
	background:transparent; border:1px solid black;
	border-radius:5px;
	outline:0 none;
 	padding:0 5px;
 	position:relative; z-index:3;
}
.sort-option .sort-select option{
	background:white;
 	color:black;
	padding:3px 0;
  	font-size:13px;
}

/* 버튼 - 글 작성 / 공지 작성 */
.insert-btn{
	background-color:black;
	color:white;
	border-radius:5px;
}

/* 검색 */
div.sub-menu-right input[type=search]{ /*#F8B739*/
	border:0 solid gray;
	border-radius:4px;
	height:23px;
	text-align:right;
	padding-right:3px;
}
div.sub-menu-right input[type=search]:focus{
	border-color:#f8b739;
    
}
.search-option .search-select{
	width:inherit; height:inherit;
	background:transparent; border:1px solid black;
	border-radius:5px;
	outline:0 none;
 	padding:0 5px;
 	position:relative; z-index:3;
 	width:82px; height:25px;
}

.search-option .search-select option{
	background:white;
 	color:black;
	padding:3px 0;
  	font-size:13px;
}
.list-btn{
	background-color:white;
	color:black;
	border-radius:5px;
}

/* ============================================= */
/* ==================== 전체 ==================== */
/* ============================================= */
/* 자유 작성폼 */
.full-list{
	margin-top:50px;
	position:relative;
	font-size:14px;
}
.full-list table{
	border-spacing:3px;
}
.full-list tr td{
	height:30px;
	text-align:center;
	font-weight:normal;
}
div.community-page-main{
	width:1024px;
	margin:0 auto;
}
div.community-paging{
	text-align:center;
	margin-top:10px;
}


/* ============================================= */
/* ==================== 자유 ==================== */
/* ============================================= */



/* ============================================= */
/* ==================== 홍보 ==================== */
/* ============================================= */



/* ============================================= */
/* ==================== 후기 ==================== */
/* ============================================= */



/* ============================================= */
/* ==================== 평점 ==================== */
/* ============================================= */
#reviewWrite_form li.rate fieldset, #reviewUpdate_form li.rate fieldset{
	display:inline-block; /* 하위 별점 이미지들이 있는 영역만 자리 차지 */ 
	direction:rtl;  /* 별점 이미지 순서(방향) 반전 right to left */
	border:0; /* 필드셋 테두리 제거 */
}
#reviewWrite_form li.rate input[type=radio], #reviewUpdate_form li.rate input[type=radio]{
	display:none; /* radiobox 감춤 */
}
#reviewWrite_form li.rate label, #reviewUpdate_form li.rate label{
	font-size:2em; /* 별점 이미지 크기 */
	color:transparent; /* 기존 별점 이미지 색상 제거 */
	text-shadow:0 0 0 #C8C8C8; /* 별점 이미지에 새로운 색상 부여 */
}
#reviewWrite_form li.rate label:hover, #reviewUpdate_form li.rate label:hover{
	text-shadow:0 0 0 #C8C8C8; /* 마우스 호버 */
}
#reviewWrite_form li.rate label:hover ~ label, #reviewUpdate_form li.rate label:hover ~ label{
	text-shadow:0 0 0 #FFD400; /* 마우스 호버 시 뒤에 오는 별점 이미지들 */
}
#reviewWrite_form li.rate input[type=radio]:checked ~ label, #reviewUpdate_form li.rate input[type=radio]:checked ~ label{
	text-shadow:0 0 0 #FFD400; /* 마우스 클릭 체크 */
}