@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Noto+Sans+KR:wght@300&display=swap');
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ============================================= */
/* ==================== 공통 ==================== */
/* ============================================= */
*{
	font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', 'Archivo', sans-serif;
	line-height:150%;
}
.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.clear{
	clear:both;
}
.hr{
	margin:25px 0;
}
.review-hr{
	margin-bottom:25px;
}
.hr-reply{
	margin:5px 0;
}
.list-margin{
	margin-top:3px;
}
/* 링크 */
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:none;
	color:#999999;
}

/* 메인 메뉴 / 메인 텍스트 */
div.main-menu{
	width:100%; height:40px;
	background-color:#969CE4;
	position:absolute;
}
div.top-page-main{
	width:1024px; margin:0 auto;
	height:32px;
	padding-bottom:10px;
	display:flex; align-items:center;
    position:relative;
}
a.main-menu-text{
	color:white;
	font-size:15px;
}

/* 서브 메뉴 - left */
div.sub-menu-left{
	padding-top:90px;
	float:left; width:40%;
	font-size:14px;
	position:relative;
}
div.sub-menu-left ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-left ul li{
	float:left;
	margin-left:20px;
}
div.sub-menu-left ul li a{
	font-weight:bold;
	color:gray;
}
div.sub-menu-left ul li a:hover{
	font-weight:bold;
	color:black;
}
div.sub-menu-left input[type=button]{
	padding:0 5px; margin:auto; margin-top:1px;
	height:20px;
	font-size:12px;
}

/* 서브 디테일 메뉴 - left */
div.sub-menu-left-detail{
	padding-top:60px;
	float:left; width:40%;
	font-size:14px;
	position:relative;
}
div.sub-menu-left-detail ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-left-detail ul li{
	float:left;
	margin-left:20px;
}
div.sub-menu-left-detail ul li a{
	font-weight:bold;
	color:gray;
}

/* 서브 메뉴 - right */
div.full-sub-menu-right{
	padding:78px 0 0 0;
	float:right; width:15%;
	position:relative;
}
div.full-sub-menu-right form{
	border:none;
}
div.full-sub-menu-right ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.full-sub-menu-right ul li{
	display:inline-block;
	margin-left:-2px;
}
div.full-sub-menu-right ul li input.list-btn{
	border:none;
}

div.sub-menu-right{
	padding:76px 0 0 0;
	float:right; width:40%;
}
div.sub-menu-right form{
	border:none;
}
div.sub-menu-right ul{
	list-style:none;
	margin:0px; padding:0px;
}
div.sub-menu-right ul li{
	display:inline-block;
	margin-left:-2px;
}
div.sub-menu-right ul li input.list-btn{
	border:none;
}

/* 옵션 - 정렬 필터  */
.sort-option{
	height:25px;
}
.sort-option .sort-select{
	width:inherit; height:inherit;
	background:transparent; border:1px solid black;
	border-radius:5px;
	outline:0 none;
 	padding:0 5px;
 	position:relative; z-index:3;
}
.sort-option .sort-select option{
	background:white;
 	color:black;
	padding:3px 0;
  	font-size:13px;
}

/* 버튼 - 글 작성 / 공지 작성 */
.insert-btn{
	background-color:black;
	color:white;
	border-radius:5px;
}

/* 검색 */
div.sub-menu-right input[type=search]{ /*#F8B739*/
	border:0 solid gray;
	border-radius:4px;
	height:23px;
	text-align:right;
	padding-right:3px;
}
div.sub-menu-right input[type=search]:focus{
	border-color:#f8b739;
    
}
.search-option .search-select{
	width:inherit; height:inherit;
	background:transparent; border:1px solid black;
	border-radius:5px;
	outline:0 none;
 	padding:0 5px;
 	position:relative; z-index:3;
 	width:82px; height:25px;
}

.search-option .search-select option{
	background:white;
 	color:black;
	padding:3px 0;
  	font-size:13px;
}
.list-btn{
	background-color:white;
	color:black;
	border-radius:5px;
}

/* ============================================= */
/* ==================== 전체 ==================== */
/* ============================================= */
.detail-notice{
	position:relative;
	height:35px;
	font-weight:bold;
}
/* 자유 작성폼 */
.full-insert-title{
	font-size:14px; font-weight:700;
	display:inline-block;
	position:absolute;
	z-index:99;
	
	margin-top:82px; margin-left:60px;
	/*border:1px solid black;*/
}
.full-insert{
	font-size:13px;
	position:absolute;
	margin:50px;
	margin-top:100px;
	padding-right:50px;
	width:800px;
 	height:780px;
 	background:#969CE4;
  	border-radius:3px;
}
.full-insert:after{ /* transparent */
	position:absolute;
	border-top:13px solid #969CE4;
 	border-left:120px solid #969CE4;
 	border-bottom:13px solid #969CE4;
 	border-radius:3px;
 	
 	content:"";
 	top:-23px;
 	right:730px;
}

.full-insert form{
	border:none;
	position:absolute;
	margin:4px;
	background-color:#FFF;
	width:802px; height:750px;
	border-radius:3px;
}
.full-insert form .insert-id{
	height:15px; width:500px;
}
.full-insert form .insert-title{
	height:15px; width:500px;
}
.full-insert form .insert-content{
	margin-top:15px;
	height:200px; width:500px;
}
.full-insert form .insert-studyName{
	height:15px; width:500px; margin-left:130px;
}
.full-insert form ul li{
	width:690px;
	line-height:50px;
	border-bottom:1px solid #D3D3D3;
	padding-left:35px;
}
.full-insert form ul li label{
	font-weight:700;
}
.full-insert form .insert-btn{
	margin-left:60px;
}
.full-insert form .insert-btn, .full-insert form .delete-btn, 
.full-insert form .detail-btn, .full-insert form .list-btn{
	display: inline-block;
  	height:30px; width:75px;
  	padding-bottom:3px;
  	border-radius:3px;;
	color:black;
  	margin-top:2rem; 
  	font-weight:bold;
  	font-size:12px;
  	letter-spacing: 2px;
  	
	background-color:rgba(0,0,0,0.7);
	color:white;
	border:none;
}
.full-insert form .insert-btn:hover, .full-insert form .delete-btn:hover,
.full-insert form .detail-btn:hover, .full-insert form .list-btn:hover{
	background-color:#969CE4;
	color:black;
}

/* 전체 페이지 */
div.community-page-main{
	width:1024px;
	margin:0 auto;
}
div.community-page-main-write{
	width:1024px;
	height:900px;
	margin:0 auto;
}
div.community-paging{
	text-align:center;
	margin-top:10px; margin-bottom:10px;
}

/* 세부 페이지 */
div.community-page-main-detail{
	font-size:13px;
	width:1024px;
	margin:0 auto;
	padding:30px; padding-top:50px; padding-left:80px;
}
ul.community-detail-member{
	list-style:none;
}
ul.community-detail-member li{
	float:left;
	margin-right:10px;
}
li.community-detail-member-padding{
	padding-top:10px;
}
div.community-page-main-detail-content{
	padding-left:40px; margin-top:30px;
	width:800px;
}


/* ================================================== */
/* ==================== 전체 게시판 ==================== */
/* ================================================== */
/* 전체게시판 목록 */
.full-list{
	margin:0 auto;
	width:980px;
	padding:20px 0 20px 30px;
	font-size:14px;
	margin-top:35px;
	position:relative;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px;
}
table.full-class{
	margin-left:66px;
	border:1px solid gray;
	border-collapse:collapse; border-radius:5px;
	/*border-width:2px 2px 2px 20px;*/
	border-top:3px; border-left:3px; border-right:3px;
}
table.full-class tr{
	border-collapse:sepeate;
}
table.full-class tr td{
	width:800px;
	padding:5px 10px;
}
table.full-class tr.full-item{
	font-size:13px;
}
table.full-class tr td a.title-hover{
	font-weight:700;
	color:black;
	margin:5px 0;
	display:block;
}
table.full-class tr td a.title-hover:hover{
	color:#969CE4;
	font-weight:700;
}
table.full-class tr td span.left{
	float:left;
	text-align:left; display:block;
	width:35px;
}
table.full-class tr td span.left-id{
	float:left;
	text-align:left; display:block;
	width:150px; height:30px; padding-top:2px;
}
table.full-class tr td span.right{
	float:right;
	text-align:right; display:block;
	width:200px; padding-top:2px;
}
.detail-content{
	padding-left:10px; padding-bottom:10px;
}
.detail-img{
	margin:10px 0;
}
.detail-filename{
	margin:10px 0;
}


/* ================================================== */
/* ==================== 자유 게시판 ==================== */
/* ================================================== */
/* 자유게시판 목록 */
div.free-fixed-1 .full-list{
	margin:0 auto;
	width:980px; padding:20px 0 0 30px;
	font-size:14px;
	margin-top:35px;
	position:relative;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px;
}
div.free-fixed-2 .full-list{
	font-size:14px;
	margin-top:35px;
	position:relative;
	width:980px; padding:0 0 20px 30px;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px; border-top:1px;
}


/* ================================================== */
/* ==================== 홍보 게시판 ==================== */
/* ================================================== */
/* 홍보게시판 목록 */
div.promo-fixed-1 .full-list{
	margin:0 auto;
	width:980px; padding:20px 0 0 30px;
	font-size:14px;
	margin-top:35px;
	position:relative;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px;
}
div.promo-fixed-2 .full-list{
	font-size:14px;
	margin-top:35px;
	position:relative;
	width:980px; padding:0 0 20px 30px;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px; border-top:1px;
}
.promo-ing-btn{
	background-color:#F8B739;
	border:none; border-radius:3px;
	box-shadow:2px 2px 2px gray;
	margin-bottom:10px;
	width:60px; height:20px;
}
.promo-comp-btn{
	background-color:#D3D3D3;
	border:none; border-radius:3px;
	box-shadow:2px 2px 2px gray;
	margin-bottom:10px;
	width:60px; height:20px;
}
#promo_faq{
	margin:2px 0 2px 5px;
	width:80px; height:20px;
	font-size:12px;
}
.study-info{
	margin-top:10px;
}


/* ================================================== */
/* ==================== 후기 게시판 ==================== */
/* ================================================== */
/* 후기게시판 목록 */
div.review-fixed-1 .full-list{
	margin:0 auto;
	width:980px; padding:20px 0 0 30px;
	font-size:14px;
	margin-top:35px;
	position:relative;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px;
}
div.review-fixed-2 .full-list{
	margin:0 auto;
	font-size:14px;
	margin-top:35px;
	position:relative;
	width:980px; padding:0 0 20px 100px;
	border:2px solid black;
	border-bottom:1px; border-left:3px; border-right:3px; border-top:1px;
}
table.full-class-2{
	box-shadow: 0px 1px 1px;
	padding:20px;
	float:left; width:40%; height:300px;
	margin:0 40px 30px 0;
}
table.full-class-2:hover{
	box-shadow:0 10px 10px rgba(0,0,0,0.3), 0 20px 40px rgba(0,0,0,0.3);
}
div.review-fixed-2 table.full-class-2 tr td span.left{
	float:left;
	text-align:left; display:block;
	width:35px;
	padding-top:5px;
}
div.review-fixed-2 table.full-class-2 tr td span.left-id{
	float:left;
	text-align:left; display:block;
	height:30px;
	font-size:12px;
}
tr.review-content{
	display:block; overflow:hidden;
	/*border:1px solid gray;*/
}
.line{
	display:block;
	border:1px solid #C8C8C8;
	border-top:1px; border-left:1px; border-right:1px;
}
.left-review{
	float:left;
}
.right-review{
	float:right;
}
table.full-class-2 tr td a.title-hover{
	font-weight:700;
	color:black;
	margin:5px 0;
	display:block;
}
table.full-class-2 tr td a.title-hover:hover{
	color:#F8B739; /*#F8B739 969CE4*/
	font-weight:700;
}



/* ============================================== */
/* ==================== 좋아요 ==================== */
/* ============================================== */
div.detail-bottom-left{
	float:left; width:100px; height:23px;
	padding-top:5px;
}
div.detail-bottom-right{
	float:right;
}
input.detail-delete-btn, input.detail-update-btn, input.detail-list-btn{
	font-size:12px;
	border:none; border-radius:3px;
	background-color:#969CE4;
	color:white;
	margin-bottom:5px;
	width:30px; height:20px;
}


/* ============================================= */
/* ==================== 댓글 ==================== */
/* ============================================= */
/* 자유 댓글 */
div#f_reply_div, div#f_mreply_div,
div#p_reply_div, div#p_mreply_div,
div#v_reply_div, div#v_mreply_div{
	font-size:15px;
	padding-top:10px; padding-bottom:25px;
	position:relative;
}
form#fre_form, form#fmre_form,
form#pre_form, form#pmre_form,
form#vre_form, form#vmre_form{
	margin-top:5px;
	border:none; 
	width:735px;
}
#fre_first, #fre_second, #fmre_first, #fmre_second,
#pre_first, #pre_second, #pmre_first, #pmre_second,
#vre_first, #vre_second, #vmre_first, #vmre_second{
	float:right;
}
#fre_first, #fmre_first,
#pre_first, #pmre_first,
#vre_first, #vmre_first{
	padding-top:5px; padding-right:10px;
}
#fre_second, #fmre_second,
#pre_second, #pmre_second,
#vre_second, #vmre_second{
	padding-right:60px;
}
.reply-insert-btn{
	background-color:white;
	border:none; border-radius:3px;
	box-shadow:2px 2px 2px gray;
	height:22px; width:65px;
}
.reply-insert-btn:active{
	margin-left:5px; margin-top:5px;
	box-shadow:none;
}
.rep-content{
	border-radius:10px;
	border:2px solid #F8B739;
	outline-color:#969CE4;
	padding:5px;
}
.reply-div{
	position:relative;
 	margin-left:50px;
 	width:750px;
 	height:130px;
  	background:rgba(248, 183, 57,0.7); /*#F8B739 rgb(213, 194, 194)*/
  	border-radius:10px;
}
.reply-div:after{
	border-top:15px solid rgba(248, 183, 57,0.7);
 	border-left: 15px solid transparent;
 	border-right: 0px solid transparent;
 	border-bottom: 0px solid transparent;
 	content:"";
 	position:absolute;
 	top:10px;
 	left:-15px;
}
.reply-content{
	padding:10px 0;
}
.reply-margin{
	margin-right:7px;
}


/* 자유 댓글 목록 */
ul.detail-info{
	list-style:none;
}
input.re-btn, input.re-modify-btn, input.re-delete-btn, input.re-reply-delete-btn{
	background-color:white;
	border:none; border-radius:3px;
	box-shadow:2px 2px 2px gray;
	margin-right:2px; margin-bottom:5px; margin-top:0;
	width:30px; height:20px;
}
input.re-btn:active, input.re-modify-btn:active, input.re-delete-btn:active{
	margin-left:5px; margin-top:5px;
	box-shadow:none;
}
div.item{
	padding-top:5px;
}
.reply-plus{
	background-color:white;
	border:none; border-radius:3px;
	box-shadow:2px 2px 2px gray;
	margin-bottom:10px; padding-top:10px; margin-right:2px;
	width:90px;
}


/* ============================================= */
/* ==================== 평점 ==================== */
/* ============================================= */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 4.3em;
}
.star-rating input {
  display: none;
}
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
.insert-rating{
	width:30px; height:30px;
}

/* ================================================== */
/* ==================== 모집중 버튼 ==================== */
/* ================================================== */
.switch-button {
	position:relative;
    display:inline-block;
    width:55px; height:30px;
}
.switch-button input {
    opacity:0;
    width:0; height:0;
}
.onoff-switch {
    position:absolute;
    cursor:pointer;
    top:0; left:0; right:0; bottom:0;
    border-radius:20px;
    background-color:#ccc;
    box-shadow:inset 1px 5px 1px #999;
    -webkit-transition:.4s;
    transition:.4s;
}
.onoff-switch:before {
    position: absolute;
    content:"";
    height:22px; width:22px;
    left:4px;
    bottom:4px;
    background-color:#fff;
    -webkit-transition:.5s;
    transition:.4s;
    border-radius:20px;
}
.switch-button input:checked + .onoff-switch {
    background-color:#F8B739;
    box-shadow:inset 1px 5px 1px #F8B739;
}
.switch-button input:checked + .onoff-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px);
}