<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.review.dao.ReviewMapper">
  	<sql id="reviewSearch">
  		<where> <!-- 1)전체 2)제목 3)내용 4)작성자 5)스터디명 -->
			<if test="keyword!=null and keyword!=''">
				<if test="keyfield==1">
					v.review_title LIKE '%' || #{keyword} || '%' OR
					v.review_content LIKE '%' || #{keyword} || '%' OR
					m.mem_id LIKE '%' || #{keyword} || '%' OR
					m.mem_nick LIKE '%' || #{keyword} || '%' OR
					v.review_stc_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==2">
					v.review_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==3">
					v.review_content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==4">
					m.mem_id LIKE '%' || #{keyword} || '%' OR
					m.mem_nick LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==5">
					v.review_stc_name LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
  	</sql>
  	
  	<select id="selectReviewRowCount" parameterType="map" resultType="integer">
  		SELECT
  		 COUNT(*)
  		FROM review_board v JOIN member m ON v.mem_num=m.mem_num
  		<include refid="reviewSearch"></include>
  	</select>
  	
  	
  	<select id="selectReviewList" parameterType="map" resultType="reviewVO">
  		SELECT
  		 *
  		FROM (SELECT 
  			   a.*, 
  			   rownum rnum 
  			  FROM (SELECT 
  			  		 v.review_num,
  			  		 v.review_stc_name,
  			  		 v.review_rating,
  			  		 v.review_fixed,
  			  		 <![CDATA[
  			  		 REPLACE(REPLACE(v.review_title,'<','&lt;'),'>','&gt;') review_title,
  			  		 ]]>
  			  		 v.review_hit,
  			  		 v.review_filename,
  			  		 v.review_regdate,
  			  		 (SELECT COUNT(*) FROM review_reply r WHERE r.review_num=v.review_num) v_replyCnt,
			  		 (SELECT COUNT(*) FROM review_fav w WHERE w.review_num=v.review_num) v_favCnt,
  			  		 v.mem_num,
  			  		 m.mem_id,
  			  		 m.mem_nick
  			  		FROM review_board v JOIN member m ON v.mem_num=m.mem_num
  			  		<include refid="reviewSearch"></include>
  			  		<if test="sort=='last' || sort==null">
			  			ORDER BY v.review_regdate DESC
			  		</if>
			  		<if test="sort=='hit'">
			  			ORDER BY v.review_hit DESC
			  		</if>
			  		<if test="sort=='fav'">
			  			ORDER BY v_favCnt DESC, v.review_hit DESC
			  		</if>
			  		<if test="sort=='reply'">
			  			ORDER BY v_replyCnt DESC, v.review_hit DESC
			  		</if> 
			  		)a)
  		<![CDATA[
  		WHERE rnum>=#{start} AND rnum<=#{end}
  		]]>
  	</select>
  	
  	<update id="updateReview" parameterType="reviewVO">
  		UPDATE review_board SET
  		 <if test="review_filename!=''">
  		 review_uploadfile=#{review_uploadfile},
  		 review_filename=#{review_filename},
  		 </if>
  		 review_stc_name=#{review_stc_name},
  		 review_title=#{review_title},
  		 review_rating=#{review_rating},
  		 review_content=#{review_content},
  		 review_ip=#{review_ip},
  		 review_modifydate=SYSDATE
  		WHERE review_num=#{review_num}
  	</update>
  	
  	<!-- 댓글 목록 -->
  	<select id="selectReviewListReply" parameterType="map" resultType="ReviewReplyVO">
  		SELECT
  		 *
  		FROM(SELECT
  				a.*,
  				rownum rnum
  			 FROM(SELECT
  			 		vre_num,
  			 		<![CDATA[
  			 		REPLACE(REPLACE(vre_content,'<','&lt;'),'>','&gt;') vre_content,
  			 		]]>
  			 		vre_regdate,
  			 		vre_modifydate,
  			 		review_num,
  			 		mem_num,
  			 		mem_id,
  			 		mem_nick
  			 	  FROM review_reply JOIN member
  			 	  USING (mem_num)
  			 	  WHERE review_num=#{review_num}
  			 	  ORDER BY vre_num DESC)a)
  			 <![CDATA[
  			 WHERE rnum>=#{start} AND rnum<=#{end}
  			 ]]>
  	</select>
</mapper>